gtml,body{ 
  html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* empilha header, main e footer */
}

main {
  flex: 1; /* ocupa todo o espaço disponível e empurra o footer */
}

  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff url(imagens/bright_squares.png) repeat;
  font-family: Arial, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.navbar{
    background-color: #fff;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}
.navbar-brand{
    font-weight: 500;
    color: rgb(234, 105, 0);
    font-size: 24px;
}

.login-button {
  background-color: rgb(234, 105, 0);
  color: #fff;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.login-button:hover {
  background-color: rgb(234, 105, 0);
}

.navbar-togger {
  border: none;
  font-size: 1.25rem;
}

.navbar-togger:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #666777;
  font-weight: 500;
  position: relative;
}

.nav-link:hover,
.nav-link.active {
  color: #000;
}

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color:rgb(234, 105, 0);
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link:active::before {
    width: 100%;
    visibility: visible;
  }
}

.c-item {
  height: 480px;
  margin-top: 100px; 
  
}

.c-img {
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
  padding: 8px 20px;
}

.footer-custom {
  background-color: rgb(234, 105, 0);
  color: white;
   margin-top: auto;
}

.footer-custom a {
  color: white;
  text-decoration: none; 
}

.footer-custom a:hover {
  color: #b4b4b4; 
}
.social-icons {
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center; 
}

.social-icons li {
  display: inline-block;
}

.social-icon {
  width: 20px;   
  height: 20px;  
  object-fit: contain; 
  display: block;
}


